.login {
  background-image: url(../src/star-sky.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.login form {
  max-width: 320px;
  width: 90%;
  background-color: #1e2833;
  padding: 40px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login .icon {
  text-align: center;
  font-size: 75px;
  color: #2980ef;
}

.login form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-align: center;
}

.login form .btn-primary {
  background: #2980ef;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 20px;
  text-shadow: none;
  outline: none;
}

.login form .btn-primary:hover,
.login form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login form .register {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
  margin-top: 20px;
}

.login form .register:hover,
.login form .register:active {
  opacity: 1;
  text-decoration: none;
}

.login form .btn-primary:active {
  transform: translateY(1px);
}

input[class="form-control"]:focus::placeholder {
  color: transparent;
}
